#user-avatar {
    width: 90%;
    padding: 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
<<<<<<< HEAD
    color: rgb(255, 255, 255);
    background: #1e3c72;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #000000cf;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
=======

    color: rgb(255, 255, 255);           
    background: linear-gradient(to right, #232526, #414345);
    border-bottom: 2px black solid;
    border-radius: 10px;
>>>>>>> parent of 95ddc46... Mudança no layout da lista de usuários
}
i {
    color: rgb(255, 255, 255);
    font-size: 111rem;
}

#catalogo {
    display: none;
    position: absolute;
    top: 70%;
    width: 25%;
    max-width: 300px;
    background-color: rgb(245, 245, 245);
    border: solid 2px rgb(122, 122, 122);
    border-radius: 5px;
}

#catalogo img {
    border: solid 1px #20419b;
    border-radius: 8px;
    margin: 5px;
    height: 75px;
    width: 75px;

    background-color: white;
    box-shadow: 0px 1px 4px 1px #000000ad;
}

#catalogo img:hover {
    background-color: rgba(148, 148, 148, 0.445);
    border: 3px solid #005419;
    box-shadow: 0px 1px 4px 4px rgb(1 92 8 / 83%);
}