*{
    margin: 0px;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(197, 197, 197);
    font-family: 'Share Tech Mono', monospace;

    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 75px 1fr 40px;
    grid-template-areas: 
    'header header'
    'list-user data-user'
    'footer footer';
}

header{
    grid-area: header;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 5px;
    padding-top: 15px ;
    font-family: 'Share Tech Mono', monospace;
}

/* LISTA DE USUÃRIOS */

.list-user{
    grid-area: list-user;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #526a95;
    overflow: scroll;
    overflow-x: hidden;
}

.list-user > span {
    color: #b6c8e7;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.list-user ol{
    list-style: none;
    padding-inline-start: 0px;
}

.user-item{
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;

    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    font-family: 'Share Tech Mono', monospace;
}

.user-item:last-child{
    margin-bottom: 15px;
}

.user-item:hover{
    background-color: #d7d7d7;
    cursor: pointer;
}

.user-item .user{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
    'username username'
    'name name'
    'status level';
}

.user-item .user-name{
    grid-area: username;
    font-size: 1.4rem;
}

.user-item .name{
    grid-area: name
}

.user-item .status{
    grid-area: status;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-item .status > span{
    width: 2px;
    height: 2px;
    filter: brightness(100%);
    background-color: rgb(50, 212, 0);
    box-shadow: rgb(46, 190, 1) 0px 0px 5px 5px;
    border-radius: 10px;
    align-self: center;
    margin-left: 20px;
}

.user-item .level{
    grid-area: level;
    display: flex;
    flex-direction: column;
    justify-self: end;
    font-size: 0.9rem;
}

.user-item .user-image{
    background-color: rgb(236, 234, 234);
    border-radius: 50px;
    border: solid 3px rgba(255, 255, 255, 0.247);
    width:  100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5px;
}

.user-item .user-image img{
    width: 75px;
    height: 75px;
}

/* FORMULARIO */
.data-user{
    display: grid;
    grid-template-rows: 150px 1fr 300px;
    align-items: center;
}

.data-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

.data-form{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(6, 75px);
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
}

.data-form input{
    width: 85%;
    height: 35px;
    margin-left: 8px;
    padding: 2px;

    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-bottom: solid 2px grey;
    font-size: 1.05rem;
    font-family: 'Share Tech Mono', monospace;
}

.data-form input::placeholder{
    color: rgba(0, 0, 0, 0.534);
    padding-left: 5px;
}

.data-form #border-color:hover{
    cursor: pointer;
}

.data-form .readonly{
    z-index: -1;
}

.data-group-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-group-button button{
    height: 50px;
    width: 155px;
    margin-right: 20px;

    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    outline: none;
    border-radius: 10px;
}

#save{
    background: linear-gradient(to bottom, #108c00 18%,#006b10 54%,#006b10 54%,#108c00 99%);
}

#save:hover{
    background: linear-gradient(to bottom, #006e2e 0%,#005419 47%,#006e2e 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#reset{
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}

#reset:hover{
    background: linear-gradient(to bottom, #a00000 0%,#6d0000 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* FOOTER */

footer{
    grid-area: footer;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;

    padding-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p{
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;

    padding-right: 10px;
    border-right: solid white 1px;
    margin-right: 10px;
}

footer img{
    width: 75px;
    height: 25px;
}

/* Via JQuery */

.actived{
    border: solid 5px #20419b;
    box-shadow: #0734dd 0px 0px 8px 3px;
    font-weight: bolder;
}